<div class="card mb-4">
  <div class="card-header">
    <h5>最新资讯</h5>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li><a href="#">公司新闻标题一</a></li>
      <li><a href="#">公司新闻标题二</a></li>
      <li><a href="#">公司新闻标题三</a></li>
      <li><a href="#">公司新闻标题四</a></li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h5>联系我们</h5>
  </div>
  <div class="card-body">
    <p>如果您有任何问题，请随时与我们联系。</p>
    <a href="/contact/" class="btn btn-primary">联系我们</a>
  </div>
</div>